# White List Native Plugins
*
!README.md
!.gitignore
!sparqplug.detail.history.*
!sparqplug.detail.object.*
!sparqplug.in.text.*
!sparqplug.out.json.*
!sparqplug.out.table.*
!jquery-jsonview.js
!jquery.textoverlay.js
!jquery.textcomplete.js
